rules_version = '2';
// Merge these rules with your existing Firestore rules.
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/admins {
      allow read: if request.auth != null;
      allow create: if request.auth.token.email == 'jobayertashdid920@gmail.com';
      allow update, delete: if request.auth != null
        && request.auth.token.email in resource.data.emails;
    }
  }
}
