rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/admins {
      allow read: if request.auth != null;
      allow create: if request.auth.token.email == 'jobayertashdid920@gmail.com';
      allow update, delete: if request.auth != null
        && request.auth.token.email in resource.data.emails;
    }
    match /stories/{docId} {
      allow read, write: if true;
    }
    match /videos/{docId} {
      allow read, write: if true;
    }
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
