rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Only authenticated users can upload cover images
    match /story_cover/{imageId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
